
@{
    ViewBag.Title = "About";
}

<div class="block-30 block-30-sm item" style="background-image: url('../../Content/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-10">
                <span class="subheading-sm">About</span>
                <h2 class="heading">The Hotel</h2>
            </div>
        </div>
    </div>
</div>
<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12">

                <img src="~/Content/images/bg_1.jpg" alt="Image placeholder" class="img-fluid" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-3">
                <h2>Enjoy a Luxury Experience</h2>
            </div>
            <div class="col-md-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, necessitatibus officiis facere nisi et, ut adipisci a quis quisquam vitae doloremque tempora repellat quae accusantium atque eum voluptatibus aperiam cumque.</p>
                <p>Quia ratione, eum harum ab similique mollitia, nisi itaque vel voluptas ipsam dolore perferendis. Deleniti voluptatum error possimus ipsum, sed, obcaecati. Sit unde quia eum repudiandae molestiae reprehenderit harum nesciunt.</p>
                <p>Pariatur non consectetur libero, veniam inventore officia neque ipsum vel vitae repudiandae doloribus odit nihil dicta sit, magnam eos, in asperiores consequuntur eaque atque nam error. Dignissimos porro veniam voluptate.</p>
            </div>
            <div class="col-md-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, necessitatibus officiis facere nisi et, ut adipisci a quis quisquam vitae doloremque tempora repellat quae accusantium atque eum voluptatibus aperiam cumque.</p>
                <p>Quia ratione, eum harum ab similique mollitia, nisi itaque vel voluptas ipsam dolore perferendis. Deleniti voluptatum error possimus ipsum, sed, obcaecati. Sit unde quia eum repudiandae molestiae reprehenderit harum nesciunt.</p>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="col-md-12">
            <img src="~/Content/images/team.png" alt="Image placeholder" class="img-fluid" style="width:2000px; height:300px;"/>
        </div>
    </div>
</div>
<div class="site-section">
    <div class="container">
        <div class="row mb-5 text-center">
            <div class="col-md-12 mb-5">
                <h2>The Team</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="block-38 text-center">
                    <div class="block-38-img">
                        <div class="block-38-header">
                            <img src="~/Content/images/ceo.png" alt="CEO" />
                            <h3 class="block-38-heading">Filan Fisteku</h3>
                            <p class="block-38-subheading">CEO</p>
                        </div>
                        <div class="block-38-body">
                            <p>
                                CEO is the highest-ranking executive in a company, and their primary responsibilities include
                                making major corporate decisions, managing the overall operations and resources of a company.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="block-38 text-center">
                    <div class="block-38-img">
                        <div class="block-38-header">
                            <img src="~/Content/images/manager.png" alt="Manager" />
                            <h3 class="block-38-heading">Filan Fisteku</h3>
                            <p class="block-38-subheading">Manager</p>
                        </div>
                        <div class="block-38-body">
                            <p>
                                Hotel managers are responsible for managing employees and for planning, marketing ,
                                coordinating and administering hotel services such as catering and accommodation facilities.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="block-38 text-center">
                    <div class="block-38-img">
                        <div class="block-38-header">
                            <img src="~/Content/images/recepsionist.png" alt="Marketer" />
                            <h3 class="block-38-heading">Filane Fisteku</h3>
                            <p class="block-38-subheading">Marketer</p>
                        </div>
                        <div class="block-38-body">
                            <p>
                                A marketing manager in the hotel industry is responsible for maximizing a hotel's revenues by developing programs
                                to increase occupancy and make profitable use of its accommodation, meeting and leisure facilities.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="block-38 text-center">
                    <div class="block-38-img">
                        <div class="block-38-header">
                            <img src="~/Content/images/receptionist2.png" alt="Recepsionist" />
                            <h3 class="block-38-heading">Filane Fisteku</h3>
                            <p class="block-38-subheading">Recepsionist</p>
                        </div>
                        <div class="block-38-body">
                           
                            <p>
                                Responsibilities for recepsionists are to welcome guests as they arrive at the hotel,
                                to check guests in and out,taking reservation from telephone or email,manage online reservation etc...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="block-31 mb-5" style="position: relative;">
    <div class="owl-carousel loop-block-31">
        <div class="block-30 no-overlay item" style="background-image: url('../../Content/images/bg_2.jpg');"></div>
        <div class="block-30 no-overlay item" style="background-image: url('../../Content/images/bg_1.jpg');"></div>
        <div class="block-30 no-overlay item" style="background-image: url('../../Content/images/bg_3.jpg');"></div>
    </div>
</div>
<div class="site-section">
    <div class="container">
        <div class="row mb-5 text-center">
            <div class="col-md-12 mb-5">
                <h2>Services</h2>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6 col-lg-4">
                <div class="media block-6">
                    <div class="icon"><span class="flaticon-double-bed"></span></div>
                    <div class="media-body">
                        <h3 class="heading">Luxury Rooms</h3>
                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="media block-6">
                    <div class="icon"><span class="flaticon-wifi"></span></div>
                    <div class="media-body">
                        <h3 class="heading">Fast &amp; Free Wifi</h3>
                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="media block-6">
                    <div class="icon"><span class="flaticon-customer-service"></span></div>
                    <div class="media-body">
                        <h3 class="heading">Call Us 24/7</h3>
                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="media block-6">
                    <div class="icon"><span class="flaticon-taxi"></span></div>
                    <div class="media-body">
                        <h3 class="heading">Travel Accomodation</h3>
                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="media block-6">
                    <div class="icon"><span class="flaticon-credit-card"></span></div>
                    <div class="media-body">
                        <h3 class="heading">Accepts Credit Card</h3>
                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="media block-6">
                    <div class="icon"><span class="flaticon-dinner"></span></div>
                    <div class="media-body">
                        <h3 class="heading">Restaurant</h3>
                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





